# sample TrainSimulation.config
# for this lab, assume there are no errors in the configuration - ok to blow up if there are
# v1.0.0 - Tu 10/17/2017 - David M Rosenberg

# general settings
ticks=50		# iterations through the simulation loop
seed=12345		# fed to the random number generator to seed the sequence - for repeatability
			# can leave blank to indicate don't seed/seed with current time
			# NOTE: You are permitted to use private static/class variables to hold default values (e.g. trainCapacity).
			#	Not applicable to single/local-use parameters (e.g. routeLength
			#	- but none of the others in this sample configuration - the rest should be local variables).

# route
routeLength=20		# end-to-end length of the route
			# - in this file, valid locations are 1..routeLength
			# - your implementation might put them in 0..routeLength-1
routeStyle=linear	# linear: end-to-end/trains reverse direction at ends
			# circular: next location after last/first is first/last depending upon direction

# stations
stationsAt=1, 20, 4, 15, 10
			# 5 stations at the specified locations - instantiated in the order listed

# trains
trainsAt=1/in, 2/in, 6/in, 10/in, 4/out, 20/out
			# 6 trains at location/direction
trainCapacity=20	# maximum number of Passengers all trains can hold
# trains=1/in/20, 2/in/15, 6/in/20, 10/in/20, 4/out/10, 20/out/25
			# same 6 trains with capacity as third value
# trains=1/in, 2/in/15, 6/in, 10/in, 4/out/10, 20/out/25
			# same 6 trains with override capacity as third value
			# - when 3rd value is omitted, use default capacity per trainCapacity


# passengers
initialPassengers=50	# number of Passengers to pre-load into the simulation (before loop)
			# ~50 could indicate a random number between 0 and 50, inclusive
initialPassengersList=s:1:10, s:2:5, t:1:20
			# could create 10 Passengers at Station 1 (the first one listed? the one at location 1? make sure you define/document which)
			#	
iterationPassengers=50	# number of Passengers to add to the simulation on each iteration
			# 50 could indicate exactly 50
			# ~50 could indicate a random number between 0 and 50, inclusive
			# 10-50, 10~50, or 10..50 could indicate a random number between 10 and 50, inclusive
